@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Plugins.Shoutout.Services
@using BTCPayServer.Views.Apps
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject Security.ContentSecurityPolicies Csp
@model BTCPayServer.Plugins.Shoutout.ViewModels.UpdateSettingsViewModel
@{
    ViewData.SetActivePage(AppsNavPages.Update, StringLocalizer["Update Shoutout"], Model.Id);
	Csp.UnsafeEval();
    var storeId = Context.GetCurrentStoreId();
}

@section PageHeadContent {
    <link href="~/vendor/summernote/summernote-bs5.css" rel="stylesheet" asp-append-version="true" />
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/vendor/summernote/summernote-bs5.js" asp-append-version="true"></script>
}


<form method="post" class="mb-5">
    <div class="sticky-header">
        <h2>@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <button type="submit" class="btn btn-primary order-sm-1" id="SaveSettings" text-translate="true">Save</button>
            @if (Model.Archived)
            {
                <button type="submit" class="btn btn-outline-secondary" name="Archived" value="False" text-translate="true">Unarchive</button>
            }
            else
            {
                <a class="btn btn-secondary" asp-controller="UIShoutout" asp-action="Public" asp-route-appId="@Model.Id" id="ViewApp" target="_blank" text-translate="true">View</a>
            }
        </div>
    </div>

    <partial name="_StatusMessage" />

    <input type="hidden" asp-for="StoreId" />
    <input type="hidden" asp-for="Archived" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-sm-10 col-md-9 col-xl-7 col-xxl-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="AppName" class="form-label" data-required></label>
                        <input asp-for="AppName" class="form-control" required />
                        <span asp-validation-for="AppName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Title" class="form-label" data-required></label>
                        <input asp-for="Title" class="form-control" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="LightningAddressIdentifier" class="form-label"></label>
                        <div class="input-group">
                            <input asp-for="LightningAddressIdentifier" class="form-control" />
                            <span class="input-group-text">@@@Context.Request.Host</span>
                        </div>
                        <div class="form-text">
                            <span text-translate="true">Optional Lightning Address that receives shoutouts.</span>
                            @if (!Model.LnurlEnabled)
                            {
                                <span>@ViewLocalizer["In order to use the Lightning Address option, Lightning must be available and LNURL needs to be enabled (including the comment option). It can be set up in the {0}.", Html.ActionLink(StringLocalizer["Lightning Settings"], "LightningSettings", "UIStores", new { storeId, cryptoCode = ShoutoutService.CryptoCode }, new { @class = "alert-link" })]</span>
                            }
                        </div>
                        <span asp-validation-for="LightningAddressIdentifier" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Currency" class="form-label"></label>
                        <input asp-for="Currency" class="form-control w-auto" currency-selection />
                        <div class="form-text">@StringLocalizer["Uses the store's default currency ({0}) if empty.", Model.StoreDefaultCurrency]</div>
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="description" class="row mt-4">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="form-group mb-0">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" rows="10" cols="40" class="form-control richtext"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-8 col-xxl-constrain">
            <h3 class="mb-3" text-translate="true">Additional Options</h3>
            <div class="form-group d-flex align-items-center pt-2">
                <input asp-for="ShowHeader" type="checkbox" class="btcpay-toggle me-3" />
                <label asp-for="ShowHeader" class="form-label mb-0"></label>
                <span asp-validation-for="ShowHeader" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center pt-2">
                <input asp-for="ShowRelativeDate" type="checkbox" class="btcpay-toggle me-3" />
                <label asp-for="ShowRelativeDate" class="form-label mb-0"></label>
                <span asp-validation-for="ShowRelativeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonText" class="form-label" data-required></label>
                <input asp-for="ButtonText" class="form-control" required style="max-width:12rem" />
                <span asp-validation-for="ButtonText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAmount" class="form-label"></label>
                <div class="input-group" style="max-width:12rem">
                    <input asp-for="MinAmount" type="number" inputmode="decimal" class="form-control hide-number-spin" min="0" step="any" />
                    <span class="input-group-text">@Model.Currency</span>
                </div>
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcludeInvoiceId" class="form-label"></label>
                <input asp-for="ExcludeInvoiceId" class="form-control" />
                <div class="form-text">@StringLocalizer["Comma separated list of invoice IDs to hide from the public view"]</div>
                <span asp-validation-for="ExcludeInvoiceId" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<div class="d-flex gap-3 mt-3">
    <a class="btn btn-secondary" asp-action="ListInvoices" asp-controller="UIInvoice" asp-route-storeId="@Model.StoreId" asp-route-searchterm="@Model.SearchTerm" text-translate="true">Invoices</a>
    <form method="post" asp-controller="UIApps" asp-action="ToggleArchive" asp-route-appId="@Model.Id">
        <button type="submit" class="btn btn-outline-secondary" id="btn-archive-toggle">
            @if (Model.Archived)
            {
                <span class="text-nowrap" text-translate="true">Unarchive this app</span>
            }
            else
            {
                <span class="text-nowrap" data-bs-toggle="tooltip" title="@StringLocalizer["Archive this app so that it does not appear in the apps list by default"]" text-translate="true">Archive this app</span>
            }
        </button>
    </form>
    <a id="DeleteApp" class="btn btn-outline-danger" asp-controller="UIApps" asp-action="DeleteApp" asp-route-appId="@Model.Id" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="@StringLocalizer["The app <strong>{0}</strong> and its settings will be permanently deleted.", Html.Encode(Model.AppName)]" data-confirm-input="@StringLocalizer["DELETE"]" text-translate="true">Delete this app</a>
</div>

<partial name="_Confirm" model="@(new ConfirmModel(StringLocalizer["Delete app"], StringLocalizer["This app will be removed from this store."], StringLocalizer["Delete"]))" />
